* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}

body {
    background: #fff;
}

header {
    background-color: #7e7e7e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav {
    margin: 10px;
}

.nav__link{
    color: #fff;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    transition: .5s;
}

.nav__link:hover{
    background: #000;
    border-radius: 10px;
    color: #ff8000;
}

.itemCount{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    div{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button{
            font-size: large;
            width: 2rem;
            height: 2rem;
            border: none;
            border-radius: 2px;
        }
        p{
            text-align: center;
            flex-grow: 1;
        }
    }
    button{
        width: 100%;
        height: 2rem;
        border: none;
        border-radius: 2px;
    }
}

footer {
    background-color: #7e7e7e;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    border-radius: 10px;
}

.card{
    background: red;
    margin: 10px;
    width: 200px;
}